name: CI/CD - Build e Push Docker

# O pipeline "acorda" sempre que você envia algo para a branch main
on:
  push:
    branches: [ main ]

jobs:
  validacao-e-build:
    runs-on: ubuntu-latest # Máquina temporária cedida pelo GitHub
    
    steps:
      - name: 1. Baixando o código do repositório
        uses: actions/checkout@v3

      - name: 2. Validando sintaxe do PHP (Lint)
        run: |
          find . -name "*.php" -exec php -l {} \;

      - name: 3. Check de Segurança (Senhas Expostas)
        run: |
          if grep -r "password =" --include="*.php" .; then
            echo "ERRO: Possível senha exposta no código PHP!"
            exit 1
          else
            echo "Segurança OK: Nenhuma senha encontrada nos scripts."
          fi

      # A partir daqui começa a integração com o Docker Hub
      - name: 4. Login no Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: 5. Build e Push da Imagem para o Docker Hub
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # MUDE 'sauloneiva' para o seu usuário do Docker Hub se for diferente
          tags: saulosneiva/meu-site-php:latest
