name: CI/CD - Build e Push Docker

on:
  push:
    branches: [ main ]

jobs:
  validacao-e-build:
    runs-on: ubuntu-latest
    
    steps:
      - name: 1. Baixando o código do repositório
        uses: actions/checkout@v3

      - name: 2. Validando sintaxe do PHP (Lint)
        run: find . -name "*.php" -exec php -l {} \;

      - name: 3. Login no Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: 4. Build e Push da Imagem
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # Gerando a tag baseada no ID do commit (SHA)
          tags: saulosneiva/meu-site-php:${{ github.sha }}

      - name: 5. Atualizando a Tag da Imagem no YAML do K8s
        run: |
          # O comando sed procura o nome da imagem e substitui a tag pelo SHA do commit
          sed -i "s|image: saulosneiva/meu-site-php:.*|image: saulosneiva/meu-site-php:${{ github.sha }}|g" site-teste.yaml
          
      - name: 6. Commit e Push da Mudança no YAML
        run: |
          git config --global user.email "github-actions@github.com"
          git config --global user.name "GitHub Actions Bot"
          git add site-teste.yaml
          git commit -m "chore: atualizando tag da imagem para ${{ github.sha }} [skip ci]"
          git push
